In [55]:
#https://www.kaggle.com/datasets/ahmedabbas757/coffee-sales
# import kagglehub

# # Defina o caminho onde deseja salvar o dataset
# destination_path = "/home/kelvin/"  # Altere para o caminho desejado

# # Baixe o dataset na pasta especificada
# path = kagglehub.dataset_download("ahmedabbas757/coffee-sales")

# print("Path to dataset files:", path)

### Interpretando o dataset

In [56]:
import pandas as pd
dataframe = pd.read_excel("Coffee Shop Sales.xlsx")

In [57]:
dataframe.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

### Vamos ver agora a proporção de cada Classe

In [58]:
columns = dataframe.columns.to_list()
for col in columns:
    print(dataframe[col].value_counts(normalize=True) * 100)
    print("-----------")

transaction_id
149456    0.000671
1         0.000671
2         0.000671
3         0.000671
4         0.000671
            ...
32        0.000671
33        0.000671
34        0.000671
35        0.000671
36        0.000671
Name: proportion, Length: 149116, dtype: float64
-----------
transaction_date
2023-06-19    0.900641
2023-06-16    0.892594
2023-06-18    0.865098
2023-06-13    0.859063
2023-06-27    0.856380
                ...
2023-02-06    0.327933
2023-01-30    0.322568
2023-01-28    0.315191
2023-01-31    0.309826
2023-01-29    0.307814
Name: proportion, Length: 181, dtype: float64
-----------
transaction_time
09:31:15    0.027495
08:15:41    0.026825
08:19:08    0.025484
11:40:03    0.024142
10:11:25    0.024142
              ...
14:21:29    0.000671
14:37:47    0.000671
16:49:24    0.000671
17:07:57    0.000671
12:48:24    0.000671
Name: proportion, Length: 25762, dtype: float64
-----------
transaction_qty
1    58.450468
2    39.326430
3     2.198959
4     0.015424
8     0.006706
6     0.002012
Name: proportion, dtype: float64
-----------
store_id
8    34.023847
3    33.932643
5    32.043510
Name: proportion, dtype: float64
-----------
store_location
Hell's Kitchen     34.023847
Astoria            33.932643
Lower Manhattan    32.043510
Name: proportion, dtype: float64
-----------
product_id
71    2.062824
50    2.047399
59    2.031304
54    2.029293
29    2.020575
        ...
7     0.097910
14    0.095228
10    0.089863
18    0.081815
19    0.079133
Name: proportion, Length: 80, dtype: float64
-----------
unit_price
3.00     22.601867
2.50     17.668124
3.75     12.393707
3.50      9.206256
0.80      4.553502
3.25      4.063950
4.25      3.801068
2.00      3.786985
2.20      3.786985
3.10      3.718582
4.50      3.330293
4.75      1.985702
4.00      1.897851
2.55      1.814024
2.45      1.763728
8.95      0.510341
2.10      0.502964
18.00     0.262883
14.00     0.196491
2.65      0.190456
28.00     0.156254
12.00     0.150219
7.60      0.148207
21.00     0.146195
45.00     0.127418
22.50     0.118700
14.75     0.113335
9.50      0.112664
9.25      0.106628
20.45     0.100593
13.33     0.099252
15.00     0.099252
19.75     0.097910
10.00     0.089863
10.95     0.081815
6.40      0.079133
4.06      0.044261
4.38      0.036884
4.69      0.028166
23.00     0.017436
5.63      0.010059
Name: proportion, dtype: float64
-----------
product_category
Coffee                39.174871
Tea                   30.478956
Bakery                15.287427
Drinking Chocolate     7.690657
Flavours               4.553502
Coffee beans           1.175595
Loose Tea              0.811449
Branded                0.500952
Packaged Chocolate     0.326591
Name: proportion, dtype: float64
-----------
product_type
Brewed Chai tea          11.523244
Gourmet brewed coffee    11.341506
Barista Espresso         11.000161
Hot chocolate             7.690657
Brewed Black tea          7.611524
Brewed herbal tea         7.541109
Scone                     6.822206
Organic brewed coffee     5.692883
Drip coffee               5.684836
Premium brewed coffee     5.455484
Pastry                    4.635317
Biscotti                  3.829904
Brewed Green tea          3.803079
Regular syrup             3.339011
Sugar free syrup          1.214491
Housewares                0.352746
Chai tea                  0.297084
Organic Beans             0.278307
Gourmet Beans             0.245446
Premium Beans             0.225328
Espresso Beans            0.213927
Herbal tea                0.204539
Black tea                 0.203198
Drinking Chocolate        0.178385
Organic Chocolate         0.148207
Clothing                  0.148207
House blend Beans         0.122723
Green tea                 0.106628
Green beans               0.089863
Name: proportion, dtype: float64
-----------
product_detail
Chocolate Croissant             2.062824
Earl Grey Rg                    2.047399
Dark chocolate Lg               2.031304
Morning Sunrise Chai Rg         2.029293
Columbian Medium Roast Rg       2.020575
                                  ...
Jamacian Coffee River           0.097910
Earl Grey                       0.095228
Guatemalan Sustainably Grown    0.089863
Spicy Eye Opener Chai           0.081815
Dark chocolate                  0.079133
Name: proportion, Length: 80, dtype: float64
-----------

### Onde há valores nulos?

In [59]:
print(dataframe.isnull().sum())

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

### Normalização dos dados

In [60]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

# Tratando as datas
dataframe["transaction_date"] = pd.to_datetime(dataframe["transaction_date"])
dataframe["Year"] = dataframe["transaction_date"].dt.year
dataframe["Month"] = dataframe["transaction_date"].dt.month
dataframe["Day"] = dataframe["transaction_date"].dt.day
dataframe.drop(columns=["transaction_date"], inplace=True)

# Tratando os horários para o formato cíclico (Seno/Cosseno)
dataframe["transaction_time"] = pd.to_datetime(dataframe["transaction_time"], format="%H:%M:%S")
dataframe["hour"] = dataframe["transaction_time"].dt.hour
dataframe["sin_hour"] = np.sin(2 * np.pi * dataframe["hour"] / 24)
dataframe["cos_hour"] = np.cos(2 * np.pi * dataframe["hour"] / 24)

#Dropando as colunas auxiliares / descartaveis de horas
dataframe.drop(columns=["transaction_time", "hour"], inplace=True)


# Criando um label (ID) para os valores em string
label_encoder = LabelEncoder()
dataframe["store_location"] = label_encoder.fit_transform(dataframe["store_location"])
dataframe["product_category"] = label_encoder.fit_transform(dataframe["product_category"])
dataframe["product_type"] = label_encoder.fit_transform(dataframe["product_type"])
dataframe["product_detail"] = label_encoder.fit_transform(dataframe["product_detail"])

In [61]:
dataframe.head()

,transaction_id,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Year,Month,Day,sin_hour,cos_hour
0,1,2,5,2,32,3.0,2,13,32,2023,1,1,0.965926,-0.258819
1,2,2,5,2,57,3.1,8,4,71,2023,1,1,0.965926,-0.258819
2,3,2,5,2,59,4.5,4,17,20,2023,1,1,0.965926,-0.258819
3,4,1,5,2,22,2.0,2,10,60,2023,1,1,0.965926,-0.258819
4,5,2,5,2,57,3.1,8,4,71,2023,1,1,0.965926,-0.258819

### O que vamos tentar prever?

Possíveis problemas:

- Existe um padrão de horário e quantidade de vendas em certas lojas?
- Há lojas ou produtos que têm padrões de vendas incomuns (outliers)?
- Os clientes seguem padrões de compras baseados em preço e quantidade?
- Existe um grupo de produtos frequentemente comprados juntos?